@font-face {
    font-family: 'Godzilla';
    src: url('Godzilla.ttf')  format('truetype'), /* Safari, Android, iOS */
  }
  
  @font-face {
    font-family: 'Blackhead';
    src: url('../fonts/Blackhead.otf')  format("opentype"),
        url('../fonts/Blackhead-Bold.otf')  format("opentype"),
        url('../fonts/Blackhead-Light.otf')  format("opentype"),
  }
  
