.welcome-screen {
    height: 100vh;
    display: block !important;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 !important;
    margin: 0;
    background-image: url('/images/back_start.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }

  .title {
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-40%, -40%);
    transform: translate(-50%, -50%);
    width: 100%;
  }
